<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.karfau.flex_analyzer.category"
            name="FlexAnalyzer">
      </category>
      <view
            category="de.karfau.flex_analyzer.category"
            class="de.karfau.flex_analyzer.ui.views.SequenceView"
            id="de.karfau.flex_analyzer.ui.views.SequenceView"
            name="Sequence">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.adobe.flexbuilder.editors.mxml.ui.perspectives.development">
         <view
               id="de.karfau.flex_analyzer.ui.views.SequenceView"
               minimized="false"
               relationship="right">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.adobe.flexbuilder.debug.ui.perspectives.debug">
         <view
               id="de.karfau.flex_analyzer.ui.views.SequenceView"
               minimized="false"
               relationship="stack">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jface.viewers.ISelection"
            class="de.karfau.flex_analyzer.model.flashbuilder.FBAdapterFactory">
         <adapter
               type="de.karfau.flex_analyzer.model.IAsFunction">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jface.viewers.StructuredSelection"
            class="de.karfau.flex_analyzer.model.flashbuilder.FBAdapterFactory">
         <adapter
               type="de.karfau.flex_analyzer.model.IAsFunction">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="com.adobe.flexbuilder.editors.derived.ui.navigator.IFlexPackageExplorerASOutlineContent"
            class="de.karfau.flex_analyzer.model.flashbuilder.FBAdapterFactory">
         <adapter
               type="de.karfau.flex_analyzer.model.IAsFunction">
         </adapter>
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>

</plugin>
