<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="FlexAnalyzer"
            id="de.karfau.flex_analyzer.category">
      </category>
      <view
            name="Sequence"
            icon="icons/sample.gif"
            category="de.karfau.flex_analyzer.category"
            class="de.karfau.flex_analyzer.ui.views.SequenceView"
            id="de.karfau.flex_analyzer.ui.views.SequenceView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:de.karfau.flex_analyzer.ui.views.SequenceView">
         <command
               commandId="de.karfau.flex_analyzer.ui.commands.SomeCommand"
               icon="icons/sample.gif"
               label="someCommand"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.karfau.flex_analyzer.ui.commands.SomeCommand"
            id="de.karfau.flex_analyzer.ui.commands.SomeCommand"
            name="SomeCommand">
      </command>
   </extension>

</plugin>
